gurobi.log
main
main.dSYM/Contents/Info.plist
main.dSYM/Contents/Resources/DWARF/main
Rapport/rapport.aux
Rapport/rapport.fdb_latexmk
Rapport/rapport.log
Rapport/rapport.synctex.gz
Datafiles/fl-out1.txt
Datafiles/fl-out2.txt
Datafiles/out1.txt
Datafiles/out2.txt
Datafiles/pj-1.txt
Datafiles/pj-2.txt
Datafiles/sched-1.txt
Datafiles/sched-2.txt
